# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
XY/.clang-format
XY/.gitignore
XY/.prettierignore
XY/CMakeLists.txt
XY/platformio.ini
XY/include/CarStatePin.h
XY/include/definitions.h
XY/interfaces/Abstract_task.cpp
XY/interfaces/Abstract_task.h
XY/lib/placeholder.txt
XY/src/CMakeLists.txt
XY/src/main.cpp
XY/src/ADC/ADC.cpp
XY/src/ADC/ADC.h
XY/src/CAN/CANBus.cpp
XY/src/CAN/CANBus.h
XY/src/CAN/CANPacket.cpp
XY/src/CAN/CANPacket.h
XY/src/CAN/CANRxBuffer.cpp
XY/src/CAN/CANRxBuffer.h
XY/src/CarControl/CarControl.cpp
XY/src/CarControl/CarControl.h
XY/src/CarState/CarState.cpp
XY/src/CarState/CarState.h
XY/src/Console/Console.cpp
XY/src/Console/Console.h
XY/src/DAC/DAC.cpp
XY/src/DAC/DAC.h
XY/src/Helper/Helper.cpp
XY/src/Helper/Helper.h
XY/src/I2CBus/I2CBus.cpp
XY/src/I2CBus/I2CBus.h
XY/src/System/System.cpp
XY/src/System/System.h
XY/include/LocalFunctionsAndDevices.h
