# exclude platformio build directory
.pio
# exclude build directory
cmake-build-debug
build
# exclude vscode config directory
.vscode
# exclude generated config
#sdkconfig
sdkconfig.old
#sdkconfig.esp32dev
sdkconfig.esp32dev.old

# local device settings fior development and test
include/LocalFunctionsAndDevices.h

# local log files
platformio-device-monitor-*.log
